@import url('https://fonts.googleapis.com/css?family=Dancing+Script|Playfair+Display');

/*
font-family: 'Dancing Script', cursive;
font-family: 'Playfair Display', serif;

*/

/* global */
* {
  margin: 0;
  padding: 0;
  font-family: 'Playfair Display', serif;
  font-size: 16px;
}

.wrapper {
  /*width: 1280px;*/
  padding: 25px;
  background: #fff;
}
/* header */
header {
  background: url("../img/header-background.png");
  background-size: cover;
  background-position: center;
  height: 660px;
  color: #fff;
  text-align: center;
  position: relative;
}
header #author h4,
header #author p {
  font-family: 'Dancing Script', cursive;
  font-size: 23px;
}
header #author h4 {
  font-size: 32px;
  padding-top: 170px;
}
header h1 {
  padding-top: 50px;
  font-size: 48px;
}
header h1:after {
  content: "\00a0";
  display: block;
  border: none;
  border-bottom: 3px solid #fff;
  width: 80px;
  left: 0;
  right: 0;
  margin: auto;
  margin-bottom: 30px;
}
header p:nth-child(3) {
  line-height: 25px;
}
header a {
  color: #fff;
}
header .fa-arrow-down {
  position: absolute;
  bottom: 70px;
  transform: translateY(50%);
}
/* navigation*/
nav {
  height: 55px;
  border-bottom: 1px solid #747474;
}
nav .navbar-left a {
  float: left;
  font-size: 22px;
  font-family: 'Dancing Script', cursive;
  color: #000;
  text-decoration: none;
  margin-left: 54px;
  margin-top: 16px;
}
nav .navbar-right {
  float: right;
  /*margin-top: 18px;*/
}
nav .navbar-right ul li {
  list-style-type: none;
  display: inline;
}
nav .navbar-right ul li a {
  text-decoration: none;
  color: #000;
  text-transform: uppercase;
  margin-right: 55px;
  line-height: 55px;
  padding-bottom: 5px;  
}
nav .navbar-right ul li a:hover {
  border-bottom: 2px solid #d07c7c;
}

/*section about me*/
#about-me {
  text-align: center;
  color: #000;
}
#about-me h2 {
  /*font-family: 'Dancing Script', cursive;*/
  font-size: 25px;
  text-transform: uppercase;
  margin-top: 140px;
  padding-bottom: 24px;
}
#about-me h2::after {
  content: "\00a0";
  display: block;
  border: none;
  border-bottom: 3px solid #d07c7c;
  width: 80px;
  left: 0;
  right: 0;
  margin: auto;
  margin-bottom: 30px; 
}
#about-me p {
  font-size: 14px;
}
/*media max-width 600px*/
@media screen and (max-width: 600px){
  header {
    height: 560px;
  }
  header #author h4 {
    font-size: 22px;
    padding-top: 70px;
  }
  header h1 {
    font-size: 26px;
  }
  #about-me h2 {
    font-size: 22px;
  }
  #about-me h2::after {
    margin-bottom: 15px;
  }  

}